<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="userSide"></include>
  <include name="customerSide"></include>
  <exclude name="adminSide"></exclude>
  </run>
  </groups>
    <classes>
      <class name="GroupPackages.ThirdGroups"/>
      <class name="GroupPackages.FirstGroups"/>
      <class name="GroupPackages.SecondGroups"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
